/*HTML STYLE*/
html {
  position: relative;
  min-height: 100%;
}
/*Body Edits*/
body{
	background-color: #ffd633;
}

/*heading 1 style*/
h1{
	font-family: serif;
	text-transform: uppercase;
	width:100%;
	position: relative;
}
/*Nav Bar Modification*/
.navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
        text-align: center;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

/*column style options*/
  .row{
  float:none;
  vertical-align: top;
  margin-left:auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 3%;
  text-align: center;
  background-color: #ffffff;
  border-color: #bfbfbf;
  border-style: solid;
  }
  .row p{
  float:none;
  vertical-align: top;
  padding-top: 2px;
  width: 150%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color:#0052cc;
  }
/*Footer CSS*/
.footer {
  position: absolute;
  top: 100%;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
 }

/*Image Thumbnails Style*/
.row .thumbnail{
	position:relative;
	vertical-align:top;
	margin:1%;
  padding: 1%;
	background-color: #FFFFFF;
	width:100%;
}
/*Image thumbnails paragraph text style*/
.row .thumbnail h3{
	font-size: 15px;
	margin-top: 1%;
}
.row .thumbnail p{
	font-size: 12px;
	color: #000;
  margin-left: -25%;
	text-align: center;
	font-style: italic;
}
/*Sidemenu Configuration*/
#sidebar {
  width: 20%;
  background-color:#f5f5f5;
  border-radius: 2%;
  margin-left: 1%;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}
#sidebar li{
  width: 230%
}
.panel {
  width:50%;
  position: relative;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 1%;
}

/*Automated IMAGE GALLERY HOMEPAGE*/
/* rotator in-page placement */
    div.rotator {
    position:relative;
    height:610px;
    display:none;
    clear: both;
}
/* rotator css */
    div.rotator ul {
    margin-left:auto;
    margin-right:auto;
    width: 50%;
    padding:0;
}
    div.rotator ul li {
    float:none;
    width: 50%;
    height: 50%%;
    position:absolute;
    clear: both;
    list-style: none;
}
/* rotator image style border */
    div.rotator ul li img {
    border:1px solid #ccc;
    padding: 4px;
    width:100%;
    background: #FFF;
}
    div.rotator ul li.show {
    z-index:500;
}

/*image galleryp page */

div.blueimp-gallery {
  display: none;
}