/*HTML STYLE*/
html {
  position: relative;
  min-height: 100%;
}
/*Body Edits*/
body{
  background-color:#ffd633;
}

/*heading 1 style*/
h1{
  font-family: serif;
  margin-bottom: 1%;
  margin-left: -2%;
  text-transform: uppercase;
  width:50%;
  position::relative;
}

/*menu/navigation bar*/
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
        text-align: center;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
/*column style options*/
    .row{
      float:none;
      vertical-align: top;
      margin-left:auto;
      margin-right: auto;
      margin-bottom: 3%;
      width: 90%;
      text-align: center;
      background-color: #ffffff;
      border-color: #bfbfbf;
      border-style: solid;
      border-radius: 2%;
      }
    .row p{
      float:none;
      vertical-align: top;
      padding-top: 2px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 210%;
      color:#0052cc;
    }
/*Automated IMAGE GALLERY HOMEPAGE*/
/* rotator in-page placement */
    div.rotator {
    position:relative;
    height:610px;
    display:none;
    clear: both;
}
/* rotator css */
    div.rotator ul {
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    padding:0;
}
    div.rotator ul li {
    float:none;
    position:absolute;
    clear: both;
    list-style: none;
}
/* rotator image style border */
    div.rotator ul li img {
    border:1px solid #ccc;
    padding: 4px;
    width:100%;
    background: #FFF;
}
    div.rotator ul li.show {
    z-index:500;
}

/*image galleryp page */

/*Footer CSS*/
.footer {
  position: absolute;
  top: 100%;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
 }

 /*Image Thumbnails Style*/
.row .thumbnail{
  position:relative;
  vertical-align:top;
  margin:1%;
  padding: 1%;
  background-color: #FFFFFF;
  width:100%;
  display: inline-block;
}
/*Image thumbnails paragraph text style*/
.row .thumbnail h3{
  font-size: 15px;
  margin-top: 1%;
}
.row .thumbnail p{
  font-size: 12px;
  color: #000;
  margin-left: -55%;
  text-align: center;
  font-style: italic;
}
/*Sidemenu Configuration*/
#sidebar {
  width: 100%;
  background-color:#f5f5f5;
  border-radius: 2%;
  margin-left: 1%;
  height:50%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}
#sidebar li{  
  width: 230%
}
#sidebar p{
  text-align: center;
}