/*HTML STYLE*/
html {
  position: relative;
  min-height: 100%;
}
/*Body Edits*/
body{
	background-color: #ffd633;
}

/*heading 1 style*/
h1{
	font-family: serif;
	margin-bottom: 1%;
	margin-left: auto;
  margin-right: auto;
	text-transform: uppercase;
	width:50%;
	position::relative;
}

/*column style options*/
  .row{
  float:none;
  vertical-align: top;
  margin-top: 3%;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 3%;
  width: 90%;
  text-align: center;
  background-color: #ffffff;
  border-color: #bfbfbf;
  border-style: solid;
  border-radius: 2%;
  }
  .row p{
  float:none;
  vertical-align: top;
  padding-top: 2px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
  color:#0052cc;
  }
/*Footer CSS*/
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
 }

/*Image Thumbnails Style*/
.row .thumbnail{
	position:relative;
	vertical-align:top;
	margin:1%;
  padding: 1%;
	background-color: #FFFFFF;
	width:100%;
}
/*Image thumbnails paragraph text style*/
.row .thumbnail h3{
	font-size: 15px;
	margin-top: 1%;
}
.row .thumbnail p{
	font-size: 12px;
	color: #000;
	text-align: center;
	margin-left: -25%;
	font-style: italic;
}
/*Sidemenu Configuration*/
#sidebar {
  display: none;
  width: 100%;
  background-color:#f5f5f5;
  border-radius: 2%;
  float: none;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}
#sidebar li{
  width: 230%;
}
.panel {
  width:100%;
  position: relative;
}

/*Automated IMAGE GALLERY HOMEPAGE*/
/* rotator in-page placement */
    div.rotator {
    position:relative;
    height: 220px;
    display:none;
}
@media screen and (min-width: 480px){
    div.rotator {
    position:relative;
    height: 300px;
    display:none;
}
}
/* rotator css */
    div.rotator ul {
    margin-left:auto;
    margin-right:auto;
    width:500px;
    padding:0;
}
    div.rotator ul li {
    float:none;
    position:absolute;
    list-style: none;
}
/* rotator image style border */
    div.rotator ul li img {
    border:1px solid #ccc;
    padding: 4px;
    width:100%;
    height: 100%;
    background: #FFF;
}
    div.rotator ul li.show {
    z-index:500;
}